
/* branding ------------------------------------------------------ */

.gi-login-background
{
	background:url('../../../images/branding/projlyclient/login-background.jpg');
	background-size: 100%;
}

.gi-splash-1
{
	background-image:url('../../../images/branding/projlyclient/splash-1.jpg');
	height: 490px;
	left: 0px;
	top: 0px;
	width: 990px;
}

.gi-splash-2
{
	background-image:url('../../../images/branding/projlyclient/splash-2.jpg');
	height: 490px;
	left: 0px;
	top: 0px;
	width: 990px;
}

.gi-splash-3
{
	background-image:url('../../../images/branding/projlyclient/splash-3.jpg');
	height: 490px;
	left: 0px;
	top: 0px;
	width: 990px;
}

.gi-splash-4
{
	background-image:url('../../../images/branding/projlyclient/splash-4.jpg');
	height: 490px;
	left: 0px;
	top: 0px;
	width: 990px;
}

.gi-splash-5
{
	background-image:url('../../../images/branding/projlyclient/splash-5.jpg');
	height: 490px;
	left: 0px;
	top: 0px;
	width: 990px;
}

.gi-splash-6
{
	background-image:url('../../../images/branding/projlyclient/splash-6.jpg');
	height: 490px;
	left: 0px;
	top: 0px;
	width: 990px;
}

.gi-splash-7
{
	background-image:url('../../../images/branding/projlyclient/splash-7.jpg');
	height: 490px;
	left: 0px;
	top: 0px;
	width: 990px;
}

.gi-splash-8
{
	background-image:url('../../../images/branding/projlyclient/splash-8.jpg');
	height: 490px;
	left: 0px;
	top: 0px;
	width: 990px;
}

.gi-splash-9
{
	background-image:url('../../../images/branding/projlyclient/splash-9.jpg');
	height: 490px;
	left: 0px;
	top: 0px;
	width: 990px;
}

.gi-splash-10
{
	background-image:url('../../../images/branding/projlyclient/splash-10.jpg');
	height: 490px;
	left: 0px;
	top: 0px;
	width: 990px;
}

.gi-splash-xmas
{
	background-image:url('../../../images/branding/projlyclient/splash-xmas.jpg');
	height: 490px;
	left: 0px;
	top: 0px;
	width: 990px;
}

.gi-sysadmin-background
{
	background:url('../../../images/branding/projlyclient/sysadmin-background.jpg');
}

