<html>
<head>
</head>
<body style="width:300px; font-family: Arial; font-size:15px;">
<center>
	<b><%%DOCUMENTNAME%%></b><br/>
	<%%BUSINESSNAME%%><br/>
	<%%BUSINESSNUMBER%%><br/>
	<%%BUSINESSPHONE%%>
	<%%BUSINESSADDRESS%%>
</center>
<hr/>
<%%CUSTOMERNAME%%><br/>
DATE: <%%PURCHASEDATE%%>
<br/><br/>
<hr/>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial; font-size:13px;">
<tr>
	<td width="57%"><b>Description</b></td>
	<td width="19%" align="right"><b>Price</b></td>
	<td width="11%" align="right"><b>Qty</b></td>
	<td width="11%" align="right"><b>Total</b></td>
</tr>
<tr>
	<td colspan="4">&nbsp;</td>
</tr>
<%%ITEMS%%>
<tr>
	<td colspan="4">&nbsp;</td>
</tr>
</table>
<hr/>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial; font-size:13px;">
<tr>
	<td width="62%"><b>Total including GST</b></td>
	<td width="14%"><b>&nbsp;</b></td>
	<td width="11%"><b>&nbsp;</b></td>
	<td width="11%" align="right"><b><%%TOTALINCTAX%%></b></td>
</tr>
<tr>
	<td width="62%"><b>GST</b></td>
	<td width="14%"><b>&nbsp;</b></td>
	<td width="11%"><b>&nbsp;</b></td>
	<td width="11%" align="right"><b><%%TOTALTAX%%></b></td>
</tr>
<tr>
	<td colspan="4">&nbsp;</td>
</tr>
</table>
<hr/>
<center>
Thank you for visiting!  Please come again.
</center>
</body>
</html>
